html
{
  height: 100%;
}

body
{
  height: 100vh;
}

.App {
  text-align: center;
}

.App table
{
  display: inline-block;
  border-collapse: collapse;
}

.App h1
{
  margin: 0;
  padding: 1em 0;
}

.App table td
{
  border: 3px solid white;
  padding: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
